.jumbotron {
    background-image: url("./stack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: gainsboro;
    text-align: center;
}

h2 {
    font-weight: 700;
}